<?xml version="1.0" encoding="UTF-8"?>
<soap:Envelope 
  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" 
  xmlns:web="http://www.oorsprong.org/websamples.countryinfo">
  <soap:Header/>
  <soap:Body>
    <web:ListOfCountryNamesByName />
  </soap:Body>
</soap:Envelope>